<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Edit Books</title>
</head>
<body>
<span> <a href="/?lang=hy">հայ</a> <br>
    <a href="/?lang=ru">рус</a> <br>
    <a href="/?lang=en">eng</a> <br>
</span>
<form action="/books/add" method="post">
    <table>
        <thead style="background-color: #a9a9a9">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Author</th>
            <th>Action</th>
        </tr>
        </thead>
        <tr>
            <td>
                <input type="hidden" name="id" th:if="${book.id != null}" th:value="${book.id}">
            </td>
            <td>
                <input type="text" name="title" th:value="${book.title}"> <br>
            </td>
            <td>
                <textarea name="description" th:text="${book.description}"></textarea> <br>
            </td>
            <td>
                <input type="number" name="price" th:value="${book.price}"> <br>
            </td>
            <td>
                <select th:name="author.id">
                    <option th:each="author : ${allAuthors}" th:value="${author.id}" th:text="${author.name}
                     + ' ' + ${author.surname}"></option>
                </select>
            </td>
            <td>
                <input type="submit" value="save">
            </td>
        </tr>
    </table>
</form>
</body>
</html>