<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Edit Author</title>
</head>
<body>
<header th:insert="fragments/header.html"></header>
<form action="/author/update/save" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" th:if="${author != null}" th:value="${author.id}">
    <input type="text" name="name" th:value="${author.name}"> : new Author name <br>
    <input type="text" name="surname" th:value="${author.surname}">  : new Author surname <br>
    <input type="text" name="username" th:value="${author.username}"> : new Username <br>
    <input type="hidden" name="password" th:value="${author.password}"> <br>
    <input type="hidden" name="role" th:value="${author.role}">
    <input type="text" name="email" th:value="${author.email}"> : new Email address <br>
    <input type="hidden" name="gender" th:value="${author.gender}"> <br>
    <textarea name="bio" th:text="${author.bio}"></textarea> : new Biography <br>
    <input type="file" name="image">
    <input type="submit" value="add"> <br>
    <input type="submit" value="save"> <br>
</form>
</body>
</html>