<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<a href="/logout" th:if="${userName != null}">Logout</a>
<a href="/login" th:if="${userName == null}">Login</a>
<h2 th:text="Welcome + ' ' + ${userName}" th:if="${userName != null}"></h2>
<h2 style="color: blue">Add a new Author</h2>
<form action="/author/add" method="post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Author name"> <br>
    <input type="text" name="surname" placeholder="Author surname"> <br>
    <input type="text" name="username" placeholder="create username"><br>
    <input type="password" name="password" placeholder="create password"> <br>
    Select role
    <select name="role">
        <option value="USER">---</option>
        <option value="ADMIN">Admin</option>
        <option value="USER">User</option>
    </select> <br>
    <input type="text" name="email" placeholder="email"> <br>
    <input type="radio" name="gender" value="MALE"> : Male<br>
    <input type="radio" name="gender" value="FEMALE"> : Female <br>
    <textarea name="bio" placeholder="biography"></textarea> <br>
    <input type="file" name="image">
    <input type="submit" value="add"> <br>
</form>
To see all Authors list visit <a href="/author/all">authors page</a>
<h2 style="color: blue">Add a new Book</h2>
<form action="/books/add" method="post">
    <input type="text" name="title" placeholder="Book title"> <br>
    <textarea name="description" placeholder="Book description"></textarea> <br>
    <input type="number" step="0.1" name="price" placeholder="price"> <br>
    <select name="author.id">
        <option th:each="author: ${allAuths}" th:value="${author.id}" th:text="${author.name}"></option>

    </select>
    <input type="submit" value="add">
</form>
To see all Books list visit <a href="/books/all">books page</a>
</body>
</html>