<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<header th:insert="fragments/header.html"></header>
<div style="color: red;" class="alert alert-danger text-center" th:if="${param.error}">
    Invalid username or password!
</div> <br>
<div style="color: green;" class="alert alert-success text-center" th:if="${param.logout}">
    You have been logged out!
</div>

<form action="/login" method="post">
    <input type="text" name="username" th:placeholder="#{login.username}"/> <br>
    <input type="password" name="password" th:placeholder="#{login.password}"/> <br>
    <input type="submit" value="Login"/> <br>
</form>
</body>
</html>